Repository placardi/xynohm: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json, prettier --write

Fixed a bug where data would not be passed to some components.
  src/core/template-parser.ts
Due: tslint -c tslint.json, prettier --write

Bumped version number to 0.5.1.
  package-lock.json
  package.json
Due: prettier --write

Bumped snapshot version number.
  package-lock.json
  package.json
Due: prettier --write

Bumped dependencies.
  examples/counters/package-lock.json
  examples/counters/package.json
Due: prettier --write

Added a flag to route definition interface to allow for partial route matching.
  src/core/app.ts
  src/core/router.ts
  src/types/router.d.ts
Due: tslint -c tslint.json, prettier --write

Bumped version number to 0.5.2.
  package-lock.json
  package.json
Due: prettier --write

Fixed vulnerabilities and bumped dependencies.
  examples/counters/package-lock.json
  examples/counters/package.json
  package-lock.json
  package.json
Due: prettier --write

Added core-js and fixed babel configuration.
  .babelrc
  examples/counters/.babelrc
  examples/counters/package-lock.json
  examples/counters/package.json
  examples/counters/webpack/stats.config.js
  package-lock.json
  package.json
Due: prettier --write

Bumped version number to 0.5.3.
  package-lock.json
  package.json
Due: prettier --write

Added a feature so that routes can redirect.
  src/core/app.ts
  src/core/router.ts
  src/types/router.d.ts
Due: tslint -c tslint.json, prettier --write

Bumped version number to 0.5.4.
  package-lock.json
  package.json
Due: prettier --write

Corrected Babel configuration.
  examples/counters/.babelrc
Due: none

Bumped dependencies in examples.
  examples/counters/package-lock.json
  examples/counters/package.json
Due: prettier --write

Bumped dependencies.
  package-lock.json
  package.json
Due: prettier --write

Added a try catch block that will attempt to convert JSON action inputs from templates.
  src/core/utils.ts
Due: tslint -c tslint.json, prettier --write

Bumped dependencies and fixed vulnerabilities.
  package-lock.json
  package.json
Due: prettier --write

Bumped dependencies, fixed vulnerabilites and breaking changes in examples.
  examples/counters/package-lock.json
  examples/counters/package.json
  examples/counters/webpack/base.config.js
Due: prettier --write

Bumped version number to 0.5.5.
  package-lock.json
  package.json
Due: prettier --write

Bumped xynohm version in examples.
  examples/counters/package-lock.json
  examples/counters/package.json
Due: prettier --write

Fixed a bug with missing types.
  src/core/app.ts
  src/core/module.ts
  src/core/router.ts
  src/types/module.d.ts
Due: tslint -c tslint.json, prettier --write

Bumped version number to 0.5.6.
  package-lock.json
  package.json
Due: prettier --write

Bumped xynohm version in examples and fixed bugs.
  examples/counters/package-lock.json
  examples/counters/package.json
  examples/counters/src/modules/counters/counters.module.ts
  examples/counters/src/modules/error/error.module.ts
  examples/counters/src/modules/root/root.module.ts
Due: tslint -c tslint.json, prettier --write

Fixed a bug where not all lifecycle functions of a component were executed.
  src/core/component.ts
  src/core/mounter.ts
  src/types/component.d.ts
Due: tslint -c tslint.json, prettier --write

Bumped version number to 0.5.7.
  package-lock.json
  package.json
Due: prettier --write

Bumped xynohm version number in examples.
  examples/counters/package-lock.json
  examples/counters/package.json
Due: prettier --write

Extended routing functionality with child routes and minor bug fixes.
  src/core/app-root.ts
  src/core/app.ts
  src/core/module.ts
  src/core/mounter.ts
  src/core/resolver.ts
  src/core/route.ts
  src/core/router-outlet.ts
  src/core/router.ts
  src/core/utils.ts
  src/types/app-root.d.ts
  src/types/index.d.ts
  src/types/module.d.ts
  src/types/resolver.d.ts
  src/types/route.d.ts
  src/types/router-outlet.d.ts
  src/types/router.d.ts
Due: tslint -c tslint.json, prettier --write

Bumped version number to 0.6.0.
  package-lock.json
  package.json
Due: prettier --write

Updated examples to support the latest version of xynohm.
  examples/counters/src/components/counter/counter.styles.css
  examples/counters/src/components/counter/counter.template.html
  examples/counters/src/config/modules.ts
  examples/counters/src/config/resolvers.ts
  examples/counters/src/config/routes.ts
  examples/counters/src/index.html
  examples/counters/src/modules/counters/counters.module.ts
  examples/counters/src/modules/individual-counter/individual-counter.module.ts
  examples/counters/src/modules/individual-counter/individual-counter.styles.css
  examples/counters/src/modules/individual-counter/individual-counter.template.html
  examples/counters/src/modules/root/root.module.ts
  examples/counters/src/styles/main.css
Due: tslint -c tslint.json, prettier --write

Fixed a bug with parsed route paths.
  src/core/route.ts
  src/core/router.ts
  src/types/route.d.ts
Due: tslint -c tslint.json, prettier --write

Bumped version number to 0.6.1.
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  tslint -c tslint.json: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx,js,json,css,md,html}) or (any of: *.{js,json,css,md,html})
