Repository placardi/xynohm: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -c tslint.json, prettier --write

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": ["tslint -c tslint.json"],
    "*.{ts,tsx,js,json,css,md,html}": ["prettier --write", "git add"]
  },
  "ignore": ["**/dist/*.js", "**/tmp/*.js", "**/coverage/*.js", "node_modules"]
}

.lintstagedrc.json:

{
  "linters": {
    "*.{js,json,css,md,html}": ["prettier --write", "git add"]
  },
  "ignore": ["**/dist/*.min.js"]
}

Bumped snapshot version number.
  package-lock.json
  package.json
Due: prettier --write

Modified release script.
  bin/release.sh
Due: none

Bumped version number to 0.1.2.
  package.json
Due: prettier --write

Modified release script.
  bin/release.sh
  package.json
Due: prettier --write

Bumped version number to 0.1.3.
  package.json
Due: prettier --write

Modified tsconfig.json to stop emission of declaration files.
  tsconfig.json
Due: prettier --write

Aggregated declaration imports in a single file and added it to the main index file.
  src/index.ts
  src/types/index.d.ts
Due: tslint -c tslint.json, prettier --write

Added a script to bundle all declaration files.
  package.json
Due: prettier --write

Improved version incrementing procedure.
  bin/release.sh
Due: none

Bumped version number to 0.1.4.
  package.json
Due: prettier --write

Changed types entry in package.json.
  package.json
Due: prettier --write

Bumped version number to 0.1.5.
  package-lock.json
  package.json
Due: prettier --write

Minor modifications to configuration files.
  .lintstagedrc
  .npmignore
Due: none

Minir project configuration fixes.
  package.json
  webpack/dev.config.js
  webpack/prod.config.js
Due: prettier --write

Do not push state when navigating backwards in history.
  src/core/router.ts
Due: tslint -c tslint.json, prettier --write

Bumped version number to 0.1.6.
  package-lock.json
  package.json
Due: prettier --write

Modified representation model input type.
  src/core/component.ts
Due: tslint -c tslint.json, prettier --write

Added new core modules responsible for app-root and router-outlet tags.
  src/core/app-root.ts
  src/core/router-outlet.ts
  src/types/app-root.d.ts
  src/types/router-outlet.d.ts
Due: tslint -c tslint.json, prettier --write

Added changes to the rest of the library to make use of new AppRoot and RouterOutlet modules.
  src/core/app.ts
  src/core/module.ts
  src/core/router.ts
  src/core/template-parser.ts
  src/types/module.d.ts
Due: tslint -c tslint.json, prettier --write

Fixed start script command.
  package.json
Due: prettier --write

Added support for mocking DOM in tests.
  jest.config.js
  package-lock.json
  package.json
  test/setup/dom.js
Due: prettier --write

Bumped version number to 0.2.0.
  package-lock.json
  package.json
Due: prettier --write

Added file loader and base href plugin to examples.
  examples/counters/package-lock.json
  examples/counters/package.json
  examples/counters/src/images/logo.svg
  examples/counters/src/modules/counters/counters.styles.css
  examples/counters/src/modules/error/error.styles.css
  examples/counters/src/modules/root/root.styles.css
  examples/counters/src/styles/main.css
  examples/counters/webpack/base.config.js
Due: prettier --write

Bumped version number to 0.2.1.
  package-lock.json
  package.json
Due: prettier --write

Removed class name check due to missing class names after minification.
  src/core/app.ts
Due: tslint -c tslint.json, prettier --write

Bumped version number to 0.2.2.
  package-lock.json
  package.json
Due: prettier --write

Updated examples.
  examples/counters/package-lock.json
  examples/counters/package.json
  examples/counters/src/modules/counters/counters.module.ts
  examples/counters/src/modules/error/error.module.ts
  examples/counters/src/modules/root/root.module.ts
  examples/counters/src/modules/root/root.template.html
Due: tslint -c tslint.json, prettier --write

Implemented new features, such as guards and app-root components.
  README.md
  TODO.md
  src/core/app-root.ts
  src/core/app.ts
  src/core/component.ts
  src/core/guard.ts
  src/core/module.ts
  src/core/mounter.ts
  src/core/router-outlet.ts
  src/core/router.ts
  src/core/template-parser.ts
  src/types/app-root.d.ts
  src/types/app.d.ts
  src/types/common.d.ts
  src/types/component.d.ts
  src/types/guard.ts
  src/types/index.d.ts
  src/types/module.d.ts
  src/types/mounter.d.ts
  src/types/router-outlet.d.ts
  src/types/router.d.ts
Due: tslint -c tslint.json, prettier --write

Moved polyfills to peer dependencies.
  package-lock.json
  package.json
Due: prettier --write

Added bundle analyser.
  package-lock.json
  package.json
  webpack/stats.config.js
Due: prettier --write

Bumped version number to 0.3.0.
  package-lock.json
  package.json
Due: prettier --write
